/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*TYPOGRAPHY*/
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: 2px;
  color: #fff;
}

.text {
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
}

.header {
  color: #01426a;
  font-size: 1.875rem;
  letter-spacing: normal !important;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.video {
  width: 60%;
}

/*POSITIONING*/
.side {
  position: relative;
  top: 22%;
  left: 50%;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

body {
  overflow-x: hidden;
  border-top: 0.313rem solid #f4364c;
}

/*NAVIGATION*/
.nav {
  height: 3.438rem;
  width: 100%;
  margin-top: 1rem;
}

.nav .nav-btn {
  display: none;
}

.nav #nav-check {
  display: none;
}

.nav-wrapper {
  margin: 0 auto;
  width: 100%;
}

.nav-logo {
  float: left;
  width: 7.25rem;
  height: 3.125rem;
  margin-left: 0.938rem;
}

.navlinks {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.063rem;
}

.navlinks ul {
  float: right;
  line-height: 3.3;
}

.navlinks li {
  display: inline;
  padding: 0.938rem;
}

.navlinks li:last-child {
  padding-right: none !important;
}

.navlinks a {
  font-size: 0.938rem;
  z-index: 1;
  overflow-y: hidden;
  color: #fff;
}

/*LANDING IMAGE - INDEX.PHP*/
.hero-img {
  background: url("../images/25720917600_caaa93e6c6_h.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin: auto;
}

/*LANDING IMAGE - PROGRAMS.PHP*/
.landing-img {
  background: url("../images/GWC-Clubs-3480.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
  margin: auto;
}

/*LANDING IMAGE - GETINVOLVED.PHP*/
.landing-img-get-involved {
  background: url("../images/GwC-_V0A7957-1.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
  margin: auto;
}

.hero {
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.35)));
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.35));
}

.hero-inner {
  position: relative;
  height: 100%;
}

.row {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.row:before {
  content: '';
  display: table;
}

.hero-copy {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  position: absolute;
  bottom: 0.50rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  display: inline-block;
  text-align: center;
  padding: 1rem 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 600px;
  -webkit-transition: max-height .3s;
  transition: max-height .3s;
}

.hero-copy-content {
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

#page-title {
  font-size: 3.5625rem;
  line-height: 1.4;
  margin-bottom: 1.5625rem;
  position: relative;
  padding-bottom: .625rem;
  font-weight: 900;
  letter-spacing: .06875rem;
}

#page-title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: .3125rem;
}

.self-identify {
  display: inline-table;
  position: relative;
}

.self-identify select {
  background-size: .75rem !important;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: .125rem solid #fff;
  color: #fff;
  font-size: 1.0625rem;
  height: auto;
  margin: 0;
  padding: 0.938rem;
}

.self-identify-section:first-child {
  padding-left: 0;
}

.self-identify-section {
  padding-top: 0;
  padding-bottom: 0;
  display: table-cell;
  position: relative;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

label {
  display: block;
  margin: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.8;
  color: #0a0a0a;
}

option {
  color: #000;
}

/*MAIN CONTENT*/
.info-title h1 {
  color: #01426a;
  font-size: 1.875rem;
  text-align: center;
  letter-spacing: normal !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.eeEasyStepsSectionBody {
  width: 80%;
  margin: auto;
}

.eeSteps {
  margin: 5rem 0rem;
}

.hideme {
  opacity: 0;
}

.images {
  display: block;
  margin: auto;
  width: 12.5rem;
  height: 12.5rem;
}

.eeImage, .eeText {
  padding: 0.938rem;
}

.eeText h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.563rem;
  color: #6eceb2;
}

.eeText p {
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0.063rem;
}

.cta-secondary-btn {
  margin: 0 auto;
  text-align: center;
}

.cta-secondary-btn .btn {
  color: #fff;
  padding: 0.625rem 0.938rem;
  line-height: 1.25rem;
  background-color: #fd4943;
  font-size: 1.25rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
  font-size: 0.875rem;
}

/*OUR PROGRAMS*/
.table-text p {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 25%;
  text-align: left;
  padding: 15px;
}

.info-tabs {
  text-align: center;
}

.info-tabs a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.063rem;
}

.tab1 {
  background: #6eceb2;
  padding: 0.938rem;
}

.tab2 {
  background: #f4364c;
  padding: 0.938rem;
}

.tab3 {
  background: #f9a81f;
  padding: 0.938rem;
}

.active {
  border-bottom: 0.125rem solid #fd4943;
}

.info-table .row {
  padding: 1.25rem;
}

.info-table .row:nth-child(odd) {
  background: #efefef;
}

.info-table p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 150%;
}

.t-icon {
  display: block;
  margin: auto;
  padding-bottom: 0.938rem;
  width: 64px;
  height: 84px;
}

.t-icon {
  display: block;
  margin: auto;
  padding-bottom: 0.938rem;
  width: 64px;
  height: 84px;
}

.icon-text {
  font: 100% Roboto, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.063rem;
  color: #01426a;
}

/*TESTIMONIAL*/
.testimonial .row {
  position: relative;
  top: 1.25rem;
}

.testimonial .col-md-4 {
  margin: 40px auto;
}

.profile {
  padding: 4.375rem 0.625rem 0.625rem;
  background-color: #6eceb2;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.063rem;
  line-height: 145%;
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 50px);
  border: 0.5rem solid white;
}

.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #fff;
  font-weight: 500;
}

.user {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

span {
  font-size: 12px;
  color: #333;
}

.content-row {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.content-row:before {
  content: '';
  display: table;
}

.overview, .block, .block-column {
  width: 80%;
  margin: auto;
}

.block-column {
  float: none;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}

.overview .content.block-content {
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem !important;
  line-height: 1.4;
  text-align: left;
  padding-right: 1.25em;
  padding-left: 1em;
  border-left: 5px solid #6eceb2;
}

/*FOOTER*/
.footer {
  border: 1px solid #e4e6eb;
  background-color: #fff;
}

.footer #footer-content {
  padding: 1.875rem 0rem;
}

.footer .middle-spacer {
  height: 7.813rem;
}

.footer-newsletter-signup {
  border-left: 1px solid #e4e6eb;
  border-right: 1px solid #e4e6eb;
  margin: 0rem 1.875rem;
}

.footer-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #303236;
  letter-spacing: 0.063rem;
  font-size: 0.875rem;
}

.socials {
  list-style: none;
  padding-top: 0.625rem;
}

.socials li {
  display: inline-block;
  cursor: pointer;
}

.socials i {
  font-size: 1.563rem;
  margin: 0.625rem;
  color: #d1d1e0;
}

.footer-newsletter-form-hldr {
  width: 20.625rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.625rem;
}

.subscribe-input {
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  -webkit-box-shadow: inset 0 0 0 0.063rem #e4e6eb;
          box-shadow: inset 0 0 0 0.063rem #e4e6eb;
  padding: 0.625rem 0.938rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25rem;
  background-color: #fff;
  width: 100%;
  max-width: 17.188rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: #303236;
}

.subscribe-btn {
  border-radius: 0 0.25rem 0.25rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.938rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #fd4943;
  padding: 0.625rem 0.938rem;
  line-height: 1.25rem;
  float: left;
  border: none;
  cursor: pointer;
}

.subscribe-text {
  clear: both;
}

/*GET INVOLVED*/
.signup_form {
  max-width: 90vw;
  width: 640px;
  margin: auto;
}

.formSolidBackgroundStripe {
  background-color: #01426a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

.form_background_header {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-top: 0;
  page-break-inside: avoid;
  width: 640px;
  height: 350px;
}

input, select {
  font-family: 'Roboto', sans-serif;
}

textarea {
  font-family: Roboto, sans-serif;
  display: block;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  overflow: hidden;
  width: 250px;
  font-size: 14px;
  border: 0;
  resize: none;
}

.radio-container {
  padding: 50px;
  display: block;
  float: left;
  width: 25%;
}

.radio {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 1rem;
  line-height: 3rem;
  cursor: pointer;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: #01426a;
  opacity: 0;
}

.radio input:checked + .outer {
  border: 2px solid #01426a;
}

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #01426a;
}

.outer {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  float: left;
  margin: 14px 10px 10px 0;
  border: 1px solid #01426a;
  border-radius: 50%;
  background-color: #fff;
}

.outer:hover {
  -webkit-box-shadow: 0 0 0 11px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 0 11px rgba(0, 0, 0, 0.03);
}

.form_box {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box1 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box2 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box3 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box4 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box5 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box6 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box7 {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error1 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error2 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error3 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error4 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error5 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error6 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_error7 {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  margin-top: 0;
  page-break-inside: avoid;
}

.form_box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form_required {
  font-family: 'Roboto', sans-serif;
  color: red;
}

.error1 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error2 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error3 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error4 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error5 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error6 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error7 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.error8 {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 0.938rem;
}

.form_box_title h2 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  word-break: break-word;
}

.form_box_text_wrapper {
  box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  resize: both;
}

.form_box_text_input, .select_input {
  width: 50%;
  -moz-user-select: none;
  display: inline-block;
  outline: none;
  padding-bottom: 8px;
}

.form_input {
  width: 100%;
  font-family: Roboto, sans-serif;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  height: 24px;
  margin-bottom: 5px;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
}

.form_input2 {
  width: 100%;
  font-family: Roboto, sans-serif;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  height: 24px;
  margin-bottom: 5px;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
}

.form_input3 {
  width: 100%;
  font-family: Roboto, sans-serif;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  height: 24px;
  margin-bottom: 5px;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
}

.form_input4 {
  width: 100%;
  font-family: Roboto, sans-serif;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  height: 24px;
  margin-bottom: 5px;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
}

.form_input_line {
  width: 100%;
  height: 1px;
  float: left;
  background-color: rgba(0, 0, 0, 0.21);
}

.line_reset {
  background-color: rgba(0, 0, 0, 0.21);
  height: 1px;
}

.change_line_color {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color1 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color2 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color3 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color4 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color5 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color6 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color7 {
  content: '';
  transition: all 155ms ease-in;
  -moz-transition: all 155ms ease-in;
  -webkit-transition: all 155ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100%;
  height: 1px;
  float: left;
  background-color: #2884b5;
  opacity: 1;
}

.change_line_color_effect {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect1 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect2 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect3 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect4 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect5 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect6 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_effect7 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
  height: 3px;
}

.change_line_color_negative {
  background-color: red;
}

.change_line_color_negative1 {
  background-color: red;
}

.change_line_color_negative2 {
  background-color: red;
}

.change_line_color_negative3 {
  background-color: red;
}

.change_line_color_negative4 {
  background-color: red;
}

.change_line_color_negative5 {
  background-color: red;
}

.change_line_color_negative6 {
  background-color: red;
}

.change_line_color_negative7 {
  background-color: red;
}

@-webkit-keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*.error {
    font: 100% $font-stack;
    color: red;
}*/
@media only screen and (max-width: 430px) {
  .hero-img {
    background: url("../images/25720917600_caaa93e6c6_h.jpg") no-repeat center left;
    background-size: cover;
    height: 100vh;
    margin: auto;
  }
  #page-title {
    font-size: 1.563rem !important;
    line-height: 1.4;
    margin-bottom: 1.5625rem;
    position: relative;
    padding-bottom: .625rem;
    font-weight: 900;
    letter-spacing: .06875rem;
  }
}

@media only screen and (max-width: 500px) {
  .form_box_text_input, .select_input {
    width: 100%;
    -moz-user-select: none;
    display: inline-block;
    outline: none;
    padding-bottom: 8px;
  }
}

@media only screen and (max-width: 600px) {
  #page-title {
    font-size: 2.313rem;
    line-height: 1.4;
    margin-bottom: 1.5625rem;
    position: relative;
    padding-bottom: .625rem;
    font-weight: 900;
    letter-spacing: .06875rem;
  }
}

@media only screen and (max-width: 768px) {
  /*MOBILE NAVBAR*/
  body {
    overflow-x: hidden;
  }
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 0rem;
    cursor: pointer;
    margin-right: 1.25rem;
    cursor: pointer;
  }
  .nav label {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.813rem;
  }
  .bar2 {
    display: block;
    width: 1.438rem;
    height: 0.125rem;
    background-color: #fff;
    position: absolute;
    top: 1.125rem;
    left: 0rem;
  }
  .bar1, .bar3 {
    content: '';
    position: absolute;
    width: 1.438rem;
    height: 0.125rem;
    background-color: #fff;
  }
  .bar1 {
    top: 0.563rem;
    left: 0rem;
  }
  .bar3 {
    top: 1.688rem;
    left: 0rem;
  }
  #nav-check.active .bar1 {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #nav-check.active .bar2 {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0);
            box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0);
  }
  #nav-check.active .bar3 {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navlinks {
    position: fixed;
    top: 5rem;
    left: 0rem;
    z-index: 2;
    display: block;
    width: 100%;
    background-color: #6eceb2;
    height: 0rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    background-image: url("../images/polkadot_background.png");
    background-repeat: repeat;
    background-position: bottom center;
    background-size: 1.6rem;
  }
  .navlinks ul {
    float: right;
    line-height: normal;
  }
  .navlinks a {
    display: block;
    width: 100%;
    position: relative;
    text-align: right;
    padding-right: 0.635rem;
    top: 100px;
    font-size: 1.563rem;
    color: #fff;
  }
  .nav > #nav-check:not(:checked) ~ .nav-wrapper .navlinks {
    height: 0rem;
  }
  .nav > #nav-check:checked ~ .nav-wrapper .navlinks {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  /*eeEasySteps - INDEX.PHP*/
  .reversed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reversed .item1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .reversed .item2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .eeText h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    text-align: center !important;
    color: #000;
  }
  .eeText p {
    font-size: 0.75rem;
    text-align: center !important;
    line-height: 150%;
    letter-spacing: 0.063rem;
  }
  .table-text p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
  }
}

@media only screen and (max-width: 960px) {
  .eeText h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    text-align: left;
    color: #000;
  }
  .eeText p {
    font-size: 0.75rem;
    text-align: left;
    line-height: 150%;
    letter-spacing: 0.063rem;
  }
  .follow-us {
    margin-bottom: 1.25rem;
    border-bottom: 0.063rem solid #e4e6eb;
    padding-bottom: 0.938rem;
  }
  .newsletter {
    border-bottom: 1px solid #e4e6eb;
  }
  .footer-newsletter-signup {
    border-left: none;
    border-right: none;
    margin-bottom: 1.25rem;
    padding-bottom: 0.938rem;
  }
  .blog-preview {
    padding-top: 0.938rem;
  }
  .signup_form {
    width: 90%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */